<div class="elegant-aero">
    <h1>Bien venido hermano</h1>

    <ul>
        <li><%= link_to "Tipos", kinds_url%></li>
        <li><%= link_to "Contatos", contacts_url%></li>
        <li><%= link_to "telefone", phones_url%></li>
        <li><%= link_to "Endereço", adresses_url%></li>
        <li><%= link_to "Teste Ajax", phones_url, remote: true%></li>
        
        
    </ul>
</div>