<%= form_with(model: contact, local: true, html: {class: "elegant-aero"}) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(contact.errors.count, 'erros')} #{t('messages.errors')}" %> </h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :contact_name %>
  </div> 
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= f.label :kind_id %>
    <%= f.collection_select(:kind_id, @kinds, :id, :description) %>
  </div>

  <%= f.fields_for :adress do |adress_fields|%>
    <div class="field">
     <%= adress_fields.label :street%>
     <%= adress_fields.text_field :street%>
    </div>
    <div class="field">
     <%= adress_fields.label :city%>
     <%= adress_fields.text_field :city%>
    </div>
    <div class="field">
     <%= adress_fields.label :state%>
     <%= adress_fields.select :state, options_for_states(@contact.adress.state) %>
    </div>
  <%end%>

  <div id="phones">
     <%= f.fields_for :phones do |phones_fields|%>
      <%= render 'phone_fields', f: phones_fields %>
      <%end%>
    <%= link_to_add_association '[Adicionar Telefone]', f, :phones %> 
  </div>

  <div class="field">
    <%= f.label :rmk %>
    <%= f.text_area :rmk, id: :contact_rmk %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
